In [10]:
pip install pandas

Requirement already satisfied: pandas in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import math

In [12]:
import numpy as np

In [13]:
import pandas as pd

In [26]:
dp= pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [27]:
dp

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,Calificación P1
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1
8,1104224296,6356.600,6233.000,62,31,6357.0,1
9,1094049572,8407.000,8243.000,8202,41,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1
11,1028485597,10047.000,9851.000,2,49,10047.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,1
16,1193231792,175.000,152.000,1,38,7792.0,1
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5

In [28]:
def c2(x):
    n=int(x[4])
    s= n*101**2+2*101+23
    s1=n*100**2+2*100+23
    sr=(s-s1)
    return float(sr)

In [35]:
dp["Punto 2"]=dp.apply(c2,axis=1)

/tmp/ipykernel_2850/2226230627.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n=int(x[4])

In [1]:
def cal2(x):
    n=int(x[2])
    n1=int(x[7])
    if n!=n1:
        return 1
    else:
        return 5

In [1]:
dp["calificacion 2"]=dp.apply(cal2,axis=1)

NameError: name 'dp' is not defined

In [38]:
dp.head(5)

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,Calificación P1,punto 2,calificacion 2,Punto 2
0,1021674384,7382.0,7238.0,7202.00,36,7382.0,5,7238.0,5,7238.0
1,1028481694,8817.0,8645.0,8602,43,8817.0,5,8645.0,5,8645.0
2,1012976628,8612.0,8444.0,8402,42,8612.0,5,8444.0,5,8444.0
3,1103500518,4922.0,4826.0,4802.00,24,4922.0,5,4826.0,5,4826.0
4,1141316451,5537.0,5429.0,5402,27,5537.0,5,5429.0,5,5429.0

In [39]:
print(dp.tail(3))

    Número de documento  \
15           1011095164
16           1193231792
17           1077228324

    Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir  de 100 a 105 unidades (Poner dos decimales)  \
15                                             5740.0
16                                              175.0
17                                             7382.0

    Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir  de 100 a 101 unidades (Poner dos decimales)\n  \
15                                             5620.0
16                                              152.0
17                                             7238.0

   Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)  \
15                                               5600
16                                                  1
17                                             366,82

     N  Punto 1  Calificación P1  punto 2  calificacion 2  Punto 2
15  28   5742.0                1   5630.0               1   5630.0
16  38   7792.0                1   7640.0               1   7640.0
17  36   7382.0                5   7238.0               5   7238.0

In [40]:
dp.to_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', index=False)