In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.22.4 (from pandas)
  Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp39-cp39-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.8/12.8 MB 15.7 MB/s  0:00:00m0:00:010:01
Downloading numpy-2.0.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 44.8 MB/s  0:00:006m0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4/4 [pandas]2m3/4 [pandas]
Successfully installed numpy-2.0.2 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd.__version__

'2.3.3'

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [6]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales)
0,1021674384,7382.000,7238.000,7202.00
1,1028481694,8817.000,8645.000,8602
2,1012976628,8612.000,8444.000,8402
3,1103500518,4922.000,4826.000,4802.00
4,1141316451,5537.000,5429.000,5402
5,1127228530,6357.000,6233.000,6202
6,1000794960,7382.000,7238.000,2.00
7,1019606644,389866.330,3739.230,7402.00
8,1104224296,6356.600,6233.000,62
9,1094049572,8407.000,8243.000,8202
10,1025062924,6.357,6.233,6.202
11,1028485597,10047.000,9851.000,2
12,1013037578,7177.000,7037.000,7002
13,1113364165,6357.000,6233.000,6202.00
14,1140914656,7587.000,7439.000,76
15,1011095164,5740.000,5620.000,5600
16,1193231792,175.000,152.000,1
17,1077228324,7382.000,7238.000,"366,82"

In [7]:
def sumadoc(n):
    n1=str(n["Número de documento"])
    s=0
    for i in n1:
        s+=int(i)
    return s

In [8]:
df["N"]=df.apply(sumadoc, axis=1)

In [9]:
def fcosto1(n):
    n1=int(n[4]) 
    c105=(n1*105**2)+(2*105)+23
    c100=(n1*100**2)+(2*100)+23
    fc1=(c105-c100)/(105-100)
    return fc1

In [10]:
df["Punto 1"]=df.apply(fcosto1, axis=1)

/tmp/ipykernel_3604/1945055965.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(n[4])

In [11]:
def calificación1(n):
    n1=int(n[5])
    n2=int(n[1])
    if n1==n2:
        return 5
    else:
        return 1

In [12]:
df["Calificación P1"]=df.apply(calificación1, axis=1)

/tmp/ipykernel_3604/3851657706.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(n[5])
/tmp/ipykernel_3604/3851657706.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2=int(n[1])

In [13]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,Calificación P1
0,1021674384,7382.000,7238.000,7202.00,36,7382.0,5
1,1028481694,8817.000,8645.000,8602,43,8817.0,5
2,1012976628,8612.000,8444.000,8402,42,8612.0,5
3,1103500518,4922.000,4826.000,4802.00,24,4922.0,5
4,1141316451,5537.000,5429.000,5402,27,5537.0,5
5,1127228530,6357.000,6233.000,6202,31,6357.0,5
6,1000794960,7382.000,7238.000,2.00,36,7382.0,5
7,1019606644,389866.330,3739.230,7402.00,37,7587.0,1
8,1104224296,6356.600,6233.000,62,31,6357.0,1
9,1094049572,8407.000,8243.000,8202,41,8407.0,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1
11,1028485597,10047.000,9851.000,2,49,10047.0,5
12,1013037578,7177.000,7037.000,7002,35,7177.0,5
13,1113364165,6357.000,6233.000,6202.00,31,6357.0,5
14,1140914656,7587.000,7439.000,76,37,7587.0,5
15,1011095164,5740.000,5620.000,5600,28,5742.0,1
16,1193231792,175.000,152.000,1,38,7792.0,1
17,1077228324,7382.000,7238.000,"366,82",36,7382.0,5

In [14]:
df.to_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', index=False)